
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title><th:text="${label.title}" /></title>
</head>
<body>
	<form method="post" action="login">
		<table>
			<tr>
				<td><label> <strong><th:text="${label.firstName}" /></strong>
				</label></td>
				<td><input name="firstName" /></td>
			</tr>
			<tr>
				<td><label> <strong><th:text="${label.lastName}" /></strong>
				</label></td>
				<td><input name="lastName" /></td>
			</tr>
			<tr>
				<th:text="${label.submit}" var="labelSubmit">
					<td colspan="2"><input type="submit" value="login" /></td>
			</tr>
		</table>
	</form>
</body>
</html>